{#- vim ft=jinja #}

{#-
      SELinux complains with inlined scripts. There is a special directory where they should be placed.
      Automap the scripts to filenames and have the formula put their contents into a file.
#}
{%- set scripts = {} %}
{%- if grains.get("selinux", {}).get("enabled") %}
{%-     for name, conf in (mapdata | traverse("config:vrrp_script", {})).items() %}
{%-       if "script" in conf %}
{%-         do scripts.update({name: conf.script.strip('"')}) %}
{%-         do mapdata.config.vrrp_script[name].update({"script": mapdata.lookup.libexec | path_join(name ~ ".sh")}) %}
{%-       endif %}
{%-     endfor %}
{%- endif %}

{%- do mapdata.update({"_scripts": scripts}) %}
